.nav-ul{
    display: flex;
    justify-content: space-around;
}

.nav-ul a{
    font-family: "League Spartan", serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}

.nav-ul a:hover{
    color: rgb(0, 0, 0);
}

.nav-ul a{
    color: #ffffff;
    text-shadow: 0 0 10px #fff, 
    0 0 20px #fff, ;
}
.nav-ul a:hover{
    transition: 0.5s;
    color: #f78b8b;
    text-shadow: 0 0 10px #fff, 
    0 0 20px #fff,
    0 0 30px #3e58cc,
    0 0 40px #da2d2d, ;
}